<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Viaja Plus</title>
    <link rel="stylesheet" href="style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center display-4">Viaja Plus</h1>

        <div class="card container-sm">
            <div class="card-body">
                <!-- Formulario de Reserva -->
                <form>
                    <div class="form-group">
                        <label for="dniReserva">DNI Reserva:</label>
                        <input type="text" class="form-control" id="dniReserva" placeholder="Ingrese DNI de Reserva">
                    </div>

                    <div class="form-group">
                        <label for="itinerarios">Itinerarios:</label>
                        <select class="form-control" id="itinerarios">
                            <option value="Seleccionar ciudad" disable>Seleccionar ciudad</option>
                            {% for itinerario in itinerarios %}
                                <option value="{{ itinerario.codigo }}">
                                    {{ itinerario.origen }} a {{ itinerario.destino }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="origen">Origen:</label>
                        <select class="form-control" id="origen">
                            <!-- Opciones de origen -->
                            <option value="origen1">Origen 1</option>
                            <option value="origen2">Origen 2</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="destino">Destino:</label>
                        <select class="form-control" id="destino">
                            <!-- Opciones de destino -->
                            <option value="destino1">Destino 1</option>
                            <option value="destino2">Destino 2</option>
                            <!-- Agrega más opciones según sea necesario -->
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Reservar</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
